<!DOCTYPE html>
<html data-ng-app="docuSim">
	<head>
		<title>Patient Assessment</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
		<!-- Bootstrap -->
		<link href="css/bootstrap_flatly.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.css" rel="stylesheet">
		<link href="css/bootstrap-select.css" rel="stylesheet">
		<link href="css/bootstrap-slider.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/jquery.sidr.light.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper" >
			<header class="navbar navbar-fixed-top" >
				<div class="navbar-inner">
					<div class="container-fluid">
						<div class="row-fluid" data-ng-controller="NavbarController">
							<div class="span1" >
								<a id="responsive-menu-button" href="#sidr-main"> &#9776;</a>
								<div id="navigation">
									<nav class="nav">
										<ul>
											<li data-ng-class="{'active':getClass('/assessments')}"><a href="#/assessments/{{getID()}}">Assessments</a></li>
											<ul id="assessmentSubNav" >
												<li class="active">
													<a href="#/assessments/{{selectedPatient.ID}}#scenario">
													<img class="nav-icon" src="img/icons/bio_yellow.png"> <span> Patient </span> </a>
												</li>
												<li>
													<a href="#/assessments/{{selectedPatient.ID}}#vitals">
													<img class="nav-icon" src="img/icons/logo.png"> <span> Vitals </span></a>
												</li>
												<li>
													<a href="#/assessments/{{selectedPatient.ID}}#neurological">
													<img class="nav-icon" src="img/icons/neuro.png"> <span> Neuro </span> </a>
												</li>
												<li>
													<a href="#/assessments/{{selectedPatient.ID}}#cardio">
													<img class="nav-icon" src="img/icons/cardio.png"> <span> Cardio </span> </a>
												</li>
												<li>
													<a href="#/assessments/{{selectedPatient.ID}}#respiratory">
													<img class="nav-icon" src="img/icons/resp.png"> <span> Respiratory </span> </a>
												</li>
												<li>
													<a href="#/assessments/{{selectedPatient.ID}}#daily">
													<img class="nav-icon" src="img/medicoicons/clipboard.png"><span>  Daily </span> </a>
												</li>
												<li>
													<a href="#/assessments/{{selectedPatient.ID}}#safety">
													<img class="nav-icon" src="img/icons/safety.png"> <span> Safety </span> </a>
												</li>
												<li>
													<a href="#/assessments/{{selectedPatient.ID}}#gu">
													<img class="nav-icon" src="img/icons/gu.png"> <span> GU </span> </a>
												</li>
												<li>
													<a href="#/assessments/{{selectedPatient.ID}}#gi">
													<img class="nav-icon" src="img/icons/gi.png"> <span> GI </span> </a>
												</li>
												<li>
													<a href="#/assessments/{{selectedPatient.ID}}#io">
													<img class="nav-icon" src="img/icons/isos.png"> <span> Is/Os </span> </a>
												</li>
											</ul>
											<li data-ng-class="{'active':getClass('/orders')}"><a href="#/orders/{{getID()}}">Orders</a></li>
											<li data-ng-class="{'active':getClass('/history')}"><a href="#/history/{{getID()}}">History</a></li>
										</ul>
									</nav>
								</div>
								<!-- Logo -->
							</div>
							<a class="brand span2" href="/">DocuSim</a>
							<!--<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								</button>-->
							<!-- Top-Level Nav -->
							<nav class="span9">
								<!-- User/Logout -->	
								<p class="navbar-text pull-right">
									<a class="navbar-text" href="#/patients" id="patientsLink" data-ng-class="{'active':getClass('/patients')}">Patients</a>
									Logged in as <a href="#" class="navbar-link">Chris White</a>
								</p>
								<!--<ul class="nav" data-ng-controller="NavbarController">
									<li data-ng-class="{'active':getClass('/assessments')}"><a href="#/assessments/{{getID()}}">Assessments</a></li>
									<li data-ng-class="{'active':getClass('/orders')}"><a href="#/orders/{{getID()}}">Orders</a></li>
									<li data-ng-class="{'active':getClass('/history')}"><a href="#/history/{{getID()}}">History</a></li>
									</ul>-->
							</nav>
						</div>
					</div>
				</div>
			</header>
			<div class="container-fluid">
				<div class="row-fluid">
					<!-- Side Navigation -->
					<div id="SideBarContainer" class="span1" data-ng-controller="patientsController">
						<!--<ul id="SideNav" class="nav nav-tabs nav-stacked span2">
							<li class="active">
								<a href="#/assessments/{{selectedPatient.ID}}#scenario">
								<img class="nav-icon" src="img/medicoicons/hospital.png"> <span> Patient </span> </a>
							</li>
							<li>
								<a href="#/assessments/{{selectedPatient.ID}}#vitals">
							<img class="nav-icon" src="img/medicoicons/blood pressure.png"> <span> Vitals </span></a>
							</li>
							<li>
								<a href="#/assessments/{{selectedPatient.ID}}#neurological">
							<img class="nav-icon" src="img/medicoicons/ecg.png"> <span> Neuro </span> </a>
							</li>
										<li>
											<a href="#/assessments/{{selectedPatient.ID}}#cardio">
								<img class="nav-icon" src="img/medicoicons/heart.png"> <span> Cardio </span> </a>
							</li>
										<li>
											<a href="#/assessments/{{selectedPatient.ID}}#respiratory">
											<img class="nav-icon" src="img/medicoicons/inhaler.png"> <span> Respiratory </span> </a>
										</li>
							<li>
							<a href="#/assessments/{{selectedPatient.ID}}#daily">
							<img class="nav-icon" src="img/medicoicons/clipboard.png"><span>  Daily </span> </a>
							</li>
							<li>
								<a href="#/assessments/{{selectedPatient.ID}}#safety">
								<img class="nav-icon" src="img/medicoicons/biohazard.png"> <span> Safety </span> </a>
							</li>
							<li>
								<a href="#/assessments/{{selectedPatient.ID}}#gu">
								<img class="nav-icon" src="img/medicoicons/bandage.png"> <span> GU </span> </a>
							</li>
							<li>
								<a href="#/assessments/{{selectedPatient.ID}}#gi">
								<img class="nav-icon" src="img/medicoicons/iv bag.png"> <span> GI </span> </a>
							</li>
							<li>
								<a href="#/assessments/{{selectedPatient.ID}}#io">
								<img class="nav-icon" src="img/medicoicons/iv bag.png"> <span> Is/Os </span> </a>
							</li>
							</ul> -->
					</div>
					<!-- Side Nav End -->
					<!-- Patient/Scenario Block -->
					<section id="scenario" class="span12 ">
						<div class="hero-unit" data-ng-controller="patientsController" >
							<div class="row-fluid">
								<h2>{{selectedPatient.FirstName}} {{selectedPatient.LastName}} 
									<span class="pull-right">{{selectedPatient.ID}}</span>
								</h2>
							</div>
							<hr>
							<div class="row-fluid">
								<img id="PatientPic" class="span4" src="{{selectedPatient.PictureFileLocation}}" />
								<div class="span8">
									<table class="table table-condensed">
										<tbody>
											<tr>
												<td><strong>DOB:</strong> {{selectedPatient.DateOfBirth}} </td>
												<td><strong>Height:</strong> {{selectedPatient.Height}}  in</td>
											</tr>
											<tr>
												<td><strong>Gender:</strong> {{selectedPatient.Gender}} </td>
												<td><strong>Weight:</strong> {{selectedPatient.Weight}}  kg</td>
											</tr>
											<tr>
										</tbody>
									</table>
									<div>
										<p>{{selectedPatient.Background}}</p>
									</div>
								</div>
							</div>
							<!-- end row-fluid -->
						</div>
						<!-- end hero -->
					</section>
				</div>
				<!-- end row-fluid -->
				<!-- Patient/Scenario End -->
				<!-- Table Content -->
				<!-- Vitals -->
				<div class="row-fluid">
					<section id="vitals" class="span12" data-ng-controller="vitalsController" >
						<h1>Vitals</h1>
						<div class="assessmentArea">
							<table class="table table-striped" data-sticky-table-headers>
								<thead>
									<tr>
										<th></th>
										<th ng-controller="clock"> 
											<span class="time" >{{time | date:'H:mm'}}  </span> 
											<br />  
											<span class="date" >{{time | date:'M/d/yy'}}
										</th>
										<th data-ng-repeat="vital in vitals | orderBy:'TimeStamp':true">
											<span class="time" >{{vital.TimeStamp | localTime | date: 'H:mm'}}  </span>
											<br />  
											<span class="date" >{{vital.TimeStamp | localTime | date:'M/d/yy'}} </span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Temp, Route</td>
										<td>
											<!--<div class="left">
												<h4> Temp </h4>
												<input type="text" pattern="[0-9]*.[0-9]*" data-ng-model="newVitals.Temperature"/>
												</div>
												<div class="right">
												<h4> Route </h4>
												
												</div>-->
											<input type="text" pattern="[0-9]*.[0-9]*" data-ng-model="newVitals.Temperature"/>
											, 
											<select ng-model="newVitals.TemperatureRoute" ng-options="value.id as value.name for (key, value) in vitalsOpts.temp"  bs-select></select>
										</td>
										<td data-ng-repeat="vital in vitals | orderBy:'TimeStamp':true">{{vital.Temperature}} , {{vital.TemperatureRoute}} </td>
									</tr>
									<tr>
										<td>HR</td>
										<td><input type="text" pattern="[0-9]*" data-ng-model="newVitals.HR"/></td>
										<td data-ng-repeat="vital in vitals | orderBy:'TimeStamp':true">{{vital.HR}}</td>
									</tr>
									<tr>
										<td>R</td>
										<td><input type="text" pattern="[0-9]*" data-ng-model="newVitals.R"/></td>
										<td data-ng-repeat="vital in vitals | orderBy:'TimeStamp':true">{{vital.R}}</td>
									</tr>
									<tr>
										<td>BP <br> <small>Systolic/Diastolic</small></td>
										<td><input type="text" pattern="[0-9]*" data-ng-model="newVitals.BP_Systolic"/> /
											<input type="text" pattern="[0-9]*" data-ng-model="newVitals.BP_Diastolic"/>
										</td>
										<td data-ng-repeat="vital in vitals | orderBy:'TimeStamp':true">{{vital.BP_Systolic}} / {{vital.BP_Diastolic}}</td>
									</tr>
									<tr>
										<td>SpO<sub>2</sub></td>
										<td><input type="text" pattern="[0-9]*.[0-9]*" data-ng-model="newVitals.SpO2"/></td>
										<td data-ng-repeat="vital in vitals | orderBy:'TimeStamp':true">{{vital.SpO2}}</td>
									</tr>
									<tr>
										<td>Weight</td>
										<td><input type="text" pattern="[0-9]*.[0-9]*" data-ng-model="newVitals.Weight"/></td>
										<td data-ng-repeat="vital in vitals | orderBy:'TimeStamp':true">{{vital.Weight}}</td>
									</tr>
									<tr>
										<td colspan="2">
											Nurse's Note:
											<textarea class="nurseNote" data-ng-model="newVitals.NurseNote"> </textarea>
										</td>
										<td data-ng-repeat="vital in vitals | orderBy: 'TimeStamp':true">
											<a href="#/assessments/{{vital.PatientID}}" 
												class="noteButton" 
												bs-modal="'partialViews/modalView.html'" 
												data-ng-class="(!vital.NurseNote)? 'hidden' : ''"
												> 
											<i class="icon-file"></i> 
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<button class="btn btn-large btn-warning span5" ><i class="icon-pencil"></i> Sign</button>
						<button class="btn btn-large btn-primary span3" ><i class="icon-remove"></i> Clear</button>
					</section>
				</div>
				<!-- End Vitals -->
			</div>
			<!--end container-fluid -->
			<div class="push">
				<!--//-->
			</div>
		</div>
		<!--end wrapper -->
		<footer class="footer">
			<div class="container-fluid">&copy; Freed Hardeman University</div>
		</footer>
		<!-- Utility -->
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="js/libs/modernizr.js"></script>
		<!-- Bootstrap -->
		<script src="js/libs/bootstrap.js"></script>	
		<script src="js/libs/bootstrap-select.js"></script>
		<script src="js/libs/bootstrap-slider.js"></script>	 	
		<!-- Angular -->
		<script src="http://code.angularjs.org/1.1.5/angular.js"></script>
		<script src="http://code.angularjs.org/1.1.5/angular-resource.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.2/angular-strap.min.js"></script>
		<!-- Rectangular -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script src="http://cdn.jsdelivr.net/restangular/latest/restangular.min.js"></script>
		<!-- Plugins -->
		<script src="js/libs/stickyTableHeaders/jquery.stickyTableHeaders.js"></script>	 
		<script src="js/libs/jquery.sidr.min.js"></script>
		<!-- Custom Scripts -->
		<script src="js/app.js"></script>
		<script src="js/controllers/patientsController.js"></script>
		<script src="js/controllers/assessments	Controller.js"></script>
		<script src="js/controllers/ordersController.js"></script>
		<script src="js/controllers/historyController.js"></script>
		<script src="js/controllers/vitalsController.js"></script>
		<script src="js/controllers/neurologicalController.js"></script>	
		<script src="js/controllers/cardioController.js"></script>	
		<script src="js/controllers/respiratoryController.js"></script>	
		<script src="js/controllers/dailyController.js"></script>	
		<script src="js/controllers/safetyController.js"></script>	
		<script src="js/controllers/guController.js"></script>	
		<script src="js/controllers/giController.js"></script>	
		<script src="js/controllers/isosController.js"></script>
	</body>
</html>