<div class="container-fluid" data-ng-controller="patientsController">
	<div class="row-fluid">
		<!-- Side Navigation -->
		<div id="SideBar" class="span2">
			<ul id="SideNav" class="nav nav-tabs nav-stacked span2">
				<li class="active"><a href="#recent"> Recent </a></li>
				<li><a href="#past"> Prior </a></li>	           			
			</ul>
		</div>
		<!-- Side Nav End -->

		<!-- Patient/Scenario Block -->
		<section id="scenario" class="span10">
			<div class="hero-unit" >
				<div class="row-fluid">
					<h2>{{selectedPatient.FirstName}} {{selectedPatient.LastName}} <span class="pull-right">{{selectedPatient.ID}}</span></h2>
				</div>
				<hr>
				<div class="row-fluid">
					<img id="PatientPic" class="span4" src="{{selectedPatient.PictureFileLocation}}">
					<div class="span8">
						<table class="table table-condensed">
							<tbody>
								<tr>
									<td><strong>DOB:</strong> {{selectedPatient.DateOfBirth}} </td>
									<td><strong>Height:</strong> {{selectedPatient.Height}}  in</td>
								</tr>
								<tr>
									<td><strong>Gender:</strong> {{selectedPatient.Gender}} </td>
									<td><strong>Weight:</strong> {{selectedPatient.Weight}}  kg</td>
								</tr>
								<tr>
								</tbody>
							</table>
						</div>
					</div>
					<br>
					<div>
						<p>{{selectedPatient.Background}}</p>
					</div>
				</div>
			</section>
		</div>
		<!-- Patient/Scenario End -->


		<!-- Patient History Content -->

<div id="history" class="historyContainer accordion-group" data-ng-repeat="history in selectedPatient.Histories" class="">
	<div class="row-fluid">
		<section class="history span10 offset2">
			<div class="accordion-heading row-fluid">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#history" href="#history">
				<h2> {{history.DateOfEvent | date: 'longDate' }} </h2>
				</a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner" div ng-bind-html-unsafe="history.EventText">
		      		{{history.EventText}}
				</div>>
			</div>
		</section>
	</div>
</div>

		<!--<div class="historyContainer" data-ng-repeat="history in selectedPatient.Histories">
			<div class="row-fluid">
				<section class="history span10 offset2">
					<h2 >
						{{history.DateOfEvent | date: 'longDate' }}
					</h2>
					<hr>

					<div ng-bind-html-unsafe="history.EventText">
						{{history.EventText}}
					</div>
				</section>
			</div>


		</div> <!--end of historyContainer -->

</div> <!--end of container-fluid -->