


<div class="row-fluid">
		<section id="loginContainer" class="span12">
			<h1>Login</h1>
			<div>
				<div class="span4">
					<span class="offset2">Username: </span> <input class="span1" type="text" />
				</div>
				<div>
					<span class="offset2">Password: </span><input class="span1" type="password" />
				</div class="span4">
				<button class="offset2 btn" ng-click="hide()" aria-hidden="true"> Login </button>
			</div>
			<button id="submitVitals" class="hidden" data-ng-click="insertVitals()"><i class="icon-pencil"></i> Sign</button>
			<!--<button class="btn btn-large btn-primary span3" data-ng-click="clearVitals()"><i class="icon-remove"></i> Clear</button> -->
		</section>
	</div>